.tech-support-main {
  padding-top: 60px;
  text-align: center;
  font-family: sans-serif;

  h1 {
    font-family: "Minecraft";
  }

  p {
    margin-top: 16px;
    color: #454545;
    font-family: sans-serif;
  }

  form {
    margin: 0 auto;
    max-width: 600px;
  }

  textarea {
    resize: none;
    height: 80px;
  }

  input,
  textarea {
    font-size: 16px;
  }

  .button {
    margin-top: 24px;
  }
}
