.input-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-top: 24px;

  label {
    text-align: left;
  }
}

.input {
  border: 1px solid black;
  color: black;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  padding: 8px;
}
